Repository tarkyaio/tarka: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, flake8, pytest-fast, npm_lint, npm_pretty

black:
  name: Black (Python formatter)
  entry: poetry run black
  language: system
  require_serial: false

isort:
  name: isort (Python import sorter)
  entry: poetry run isort
  language: system

flake8:
  name: Flake8 (Python linter)
  entry: poetry run flake8
  language: system
  require_serial: false

pytest-fast:
  name: Pytest (fast unit tests)
  entry: poetry run pytest -m "not integration and not e2e" -x
  language: system
  pass_filenames: false
  require_serial: true

npm_lint:
  name: npm lint (UI)
  entry: sh -c 'cd ui && npm run lint'
  language: system
  pass_filenames: false
  require_serial: false

npm_pretty:
  name: npm prettier (UI)
  entry: sh -c 'cd ui && npm run prettier:check --list-different'
  language: system
  pass_filenames: false
  require_serial: false

feat(ui): add help popover with support resources menu (#23)
  ui/src/screens/Shell.module.css
  ui/src/screens/Shell.tsx
  ui/src/ui/IconButton.tsx
Due: npm_lint, npm_pretty

chore(site): add favicon, auto-update version on release, add website link to help popover
  .github/workflows/release.yml
  docs/favicon.svg
  docs/index.html
  ui/src/screens/Shell.tsx
Due: npm_lint, npm_pretty

chore(site): add favicon, auto-update version on release, add website link to help popover (#24)
  .github/workflows/release.yml
  docs/favicon.svg
  docs/index.html
  ui/src/screens/Shell.tsx
Due: npm_lint, npm_pretty

feat: snooze support, effective alert status, and auto-close on resolve
  agent/api/webhook.py
  agent/chat/global_runtime.py
  agent/chat/global_tools.py
  agent/chat/intents.py
  agent/chat/tool_summaries.py
  agent/memory/case_index.py
  agent/memory/migrations/007_snooze.sql
  scripts/test-ci.sh
  tests/test_console_auth.py
  tests/test_github_collector.py
  ui/src/lib/types.ts
  ui/src/mocks/data.ts
  ui/src/screens/CaseScreen.module.css
  ui/src/screens/CaseScreen.test.tsx
  ui/src/screens/CaseScreen.tsx
  ui/src/screens/InboxScreen.module.css
  ui/src/screens/InboxScreen.tsx
  ui/src/screens/Shell.module.css
  ui/src/screens/Shell.tsx
  ui/src/state/chat.tsx
  ui/src/ui/AlertStatusPill.module.css
  ui/src/ui/AlertStatusPill.tsx
  ui/src/ui/AssistantChatWidget.module.css
  ui/src/ui/AssistantChatWidget.tsx
Due: black, isort, flake8, pytest-fast, npm_lint, npm_pretty

fix(e2e): update empty-state text assertion to match new wording
  ui/tests/chat-state-persistence.spec.ts
Due: npm_lint, npm_pretty

feat: snooze support, effective alert status, and auto-close on resolve (#25)
  agent/api/webhook.py
  agent/chat/global_runtime.py
  agent/chat/global_tools.py
  agent/chat/intents.py
  agent/chat/tool_summaries.py
  agent/memory/case_index.py
  agent/memory/migrations/007_snooze.sql
  scripts/test-ci.sh
  tests/test_console_auth.py
  tests/test_github_collector.py
  ui/src/lib/types.ts
  ui/src/mocks/data.ts
  ui/src/screens/CaseScreen.module.css
  ui/src/screens/CaseScreen.test.tsx
  ui/src/screens/CaseScreen.tsx
  ui/src/screens/InboxScreen.module.css
  ui/src/screens/InboxScreen.tsx
  ui/src/screens/Shell.module.css
  ui/src/screens/Shell.tsx
  ui/src/state/chat.tsx
  ui/src/ui/AlertStatusPill.module.css
  ui/src/ui/AlertStatusPill.tsx
  ui/src/ui/AssistantChatWidget.module.css
  ui/src/ui/AssistantChatWidget.tsx
  ui/tests/chat-state-persistence.spec.ts
Due: black, isort, flake8, pytest-fast, npm_lint, npm_pretty

feat(ui): editorial design system — IBM Plex, zinc tokens, effective-status filter
  agent/api/webhook.py
  docs/index.html
  docs/site.css
  ui/index.html
  ui/src/lib/format.ts
  ui/src/lib/types.ts
  ui/src/mocks/data.ts
  ui/src/screens/CaseScreen.module.css
  ui/src/screens/CaseScreen.tsx
  ui/src/screens/InboxScreen.module.css
  ui/src/screens/InboxScreen.tsx
  ui/src/screens/Shell.module.css
  ui/src/screens/Shell.tsx
  ui/src/styles/global.css
  ui/src/ui/AssistantChatWidget.module.css
  ui/src/ui/ClassificationPill.module.css
  ui/src/ui/LoginDialog.module.css
  ui/src/ui/LoginDialog.tsx
  ui/src/ui/SeverityPill.module.css
  ui/src/ui/UserChip.module.css
  ui/src/ui/user.tsx
Due: black, isort, flake8, pytest-fast, npm_lint, npm_pretty

feat(ui): editorial design system — IBM Plex, zinc tokens, effective-status filter (#26)
  agent/api/webhook.py
  docs/index.html
  docs/site.css
  ui/index.html
  ui/src/lib/format.ts
  ui/src/lib/types.ts
  ui/src/mocks/data.ts
  ui/src/screens/CaseScreen.module.css
  ui/src/screens/CaseScreen.tsx
  ui/src/screens/InboxScreen.module.css
  ui/src/screens/InboxScreen.tsx
  ui/src/screens/Shell.module.css
  ui/src/screens/Shell.tsx
  ui/src/styles/global.css
  ui/src/ui/AssistantChatWidget.module.css
  ui/src/ui/ClassificationPill.module.css
  ui/src/ui/LoginDialog.module.css
  ui/src/ui/LoginDialog.tsx
  ui/src/ui/SeverityPill.module.css
  ui/src/ui/UserChip.module.css
  ui/src/ui/user.tsx
Due: black, isort, flake8, pytest-fast, npm_lint, npm_pretty

feat(ui): leadership dashboard — ROI metrics, signal quality, and UX polish
  ui/src/lib/api.ts
  ui/src/screens/App.tsx
  ui/src/screens/ExecDashboardScreen.module.css
  ui/src/screens/ExecDashboardScreen.tsx
  ui/src/screens/InboxScreen.module.css
  ui/src/screens/InboxScreen.tsx
  ui/src/screens/Shell.tsx
Due: npm_lint, npm_pretty

feat(ui): leadership dashboard — ROI metrics, signal quality, and UX polish (#27)
  ui/src/lib/api.ts
  ui/src/screens/App.tsx
  ui/src/screens/ExecDashboardScreen.module.css
  ui/src/screens/ExecDashboardScreen.tsx
  ui/src/screens/InboxScreen.module.css
  ui/src/screens/InboxScreen.tsx
  ui/src/screens/Shell.tsx
Due: npm_lint, npm_pretty

feat: exec dashboard real endpoints, metric tooltips, and chat token/cost display
  agent/api/webhook.py
  agent/authz/policy.py
  agent/chat/global_runtime.py
  agent/chat/global_runtime_streaming.py
  agent/chat/global_tools.py
  agent/chat/runtime.py
  agent/chat/runtime_streaming.py
  agent/chat/tools.py
  agent/console_api.py
  agent/llm/client.py
  agent/llm/client_streaming.py
  agent/memory/console_queries.py
  ui/src/lib/api.ts
  ui/src/lib/types.ts
  ui/src/lib/useStreamingChat.ts
  ui/src/screens/ExecDashboardScreen.module.css
  ui/src/screens/ExecDashboardScreen.tsx
  ui/src/ui/AssistantChatWidget.module.css
  ui/src/ui/AssistantChatWidget.tsx
  ui/src/ui/Card.module.css
  ui/src/ui/Card.tsx
  ui/src/ui/ChatHost.tsx
Due: black, isort, flake8, pytest-fast, npm_lint, npm_pretty

feat: exec dashboard real endpoints, metric tooltips, and chat token/cost display (#29)
  agent/api/webhook.py
  agent/authz/policy.py
  agent/chat/global_runtime.py
  agent/chat/global_runtime_streaming.py
  agent/chat/global_tools.py
  agent/chat/runtime.py
  agent/chat/runtime_streaming.py
  agent/chat/tools.py
  agent/console_api.py
  agent/llm/client.py
  agent/llm/client_streaming.py
  agent/memory/console_queries.py
  ui/src/lib/api.ts
  ui/src/lib/types.ts
  ui/src/lib/useStreamingChat.ts
  ui/src/screens/ExecDashboardScreen.module.css
  ui/src/screens/ExecDashboardScreen.tsx
  ui/src/ui/AssistantChatWidget.module.css
  ui/src/ui/AssistantChatWidget.tsx
  ui/src/ui/Card.module.css
  ui/src/ui/Card.tsx
  ui/src/ui/ChatHost.tsx
Due: black, isort, flake8, pytest-fast, npm_lint, npm_pretty

feat: generic HTTP source for ingesting webhooks from any system
  agent/api/webhook.py
  agent/core/models.py
  agent/dump.py
  agent/pipeline/pipeline.py
  agent/report_deterministic.py
  agent/sources/__init__.py
  agent/sources/config.py
  agent/sources/normalizer.py
  agent/sources/signature.py
  config/http_sources.yaml
  docs/guides/environment-variables.md
  docs/guides/http-source.md
  poetry.lock
  pyproject.toml
  tests/test_http_source.py
Due: black, isort, flake8, pytest-fast

feat: generic HTTP source for ingesting webhooks from any system (#28)
  agent/api/webhook.py
  agent/core/models.py
  agent/dump.py
  agent/pipeline/pipeline.py
  agent/report_deterministic.py
  agent/sources/__init__.py
  agent/sources/config.py
  agent/sources/normalizer.py
  agent/sources/signature.py
  config/http_sources.yaml
  docs/guides/environment-variables.md
  docs/guides/http-source.md
  poetry.lock
  pyproject.toml
  tests/test_http_source.py
Due: black, isort, flake8, pytest-fast

fix(inbox): sum LLM + RCA token/cost to match report totals
  agent/api/webhook.py
Due: black, isort, flake8, pytest-fast

fix(inbox): sum LLM + RCA token/cost to match report totals (#30)
  agent/api/webhook.py
Due: black, isort, flake8, pytest-fast

docs(site): update landing page, screenshots, and mock data
  README.md
  docs/index.html
  docs/screenshots/case-chat.png
  docs/screenshots/dashboard.png
  docs/screenshots/global-chat.png
  docs/screenshots/inbox.png
  docs/screenshots/kubejobfailed-case-chat-expanded-mode.png
  docs/screenshots/kubejobfailed-report.png
  docs/screenshots/report.png
  docs/site.css
  ui/src/lib/api.ts
  ui/src/mocks/data.ts
Due: npm_lint, npm_pretty

docs(site): update landing page, screenshots, and mock data (#31)
  README.md
  docs/index.html
  docs/screenshots/case-chat.png
  docs/screenshots/dashboard.png
  docs/screenshots/global-chat.png
  docs/screenshots/inbox.png
  docs/screenshots/kubejobfailed-case-chat-expanded-mode.png
  docs/screenshots/kubejobfailed-report.png
  docs/screenshots/report.png
  docs/site.css
  ui/src/lib/api.ts
  ui/src/mocks/data.ts
Due: npm_lint, npm_pretty

chore(deploy): add deploy/ to dockerignore and ignore helm subchart tarballs
  .dockerignore
  .gitignore
Due: none

style(scripts): format stamp-chart-version.py for consistency
  scripts/stamp-chart-version.py
Due: black, isort, flake8, pytest-fast

style(scripts): inline appVersion regex substitution in stamp-chart-version.py
  scripts/stamp-chart-version.py
Due: black, isort, flake8, pytest-fast

ci(eval): add issues write permission to eval workflow
  .github/workflows/eval.yml
Due: none

ci(eval): restrict PR comment to same-repo PRs and remove issues write permission
  .github/workflows/eval.yml
Due: none

feat(chart): add pod security contexts, db-migrate init container, and hardened defaults
  deploy/chart/templates/ingress.yaml
  deploy/chart/templates/uiDeployment.yaml
  deploy/chart/templates/webhookDeployment.yaml
  deploy/chart/templates/workerDeployment.yaml
  deploy/chart/values.yaml
Due: none

Update pyproject.toml
  pyproject.toml
Due: none

Update pyproject.toml (#33)
  pyproject.toml
Due: none

ci(release): add nats helm repo before building subchart dependencies
  .github/workflows/release.yml
Due: none

ci(release): add nats helm repo before building subchart dependencies (#34)
  .github/workflows/release.yml
Due: none

chore(chart): bump appVersion to 0.3.0
  deploy/chart/Chart.yaml
Due: none

ci(release): add job to set GHCR packages to public after release
  .github/workflows/release.yml
Due: none

chore(chart): bump appVersion to 0.3.0 (#35)
  .github/workflows/release.yml
  deploy/chart/Chart.yaml
Due: none

chore(release): bump version to 0.3.1 (#36)
  CHANGELOG.md
  deploy/chart/Chart.yaml
  deploy/chart/README.md
  deploy/manifests/deployment.yaml
  deploy/manifests/uiDeployment.yaml
  deploy/manifests/workerDeployment.yaml
  docs/guides/helm-chart.md
  pyproject.toml
Due: none

chore(release): bump version to 0.3.0
  .github/workflows/tests.yml
  CHANGELOG.md
  deploy/chart/Chart.yaml
  deploy/chart/README.md
  deploy/manifests/deployment.yaml
  deploy/manifests/uiDeployment.yaml
  deploy/manifests/workerDeployment.yaml
  docs/guides/helm-chart.md
  pyproject.toml
Due: none

chore(release): bump version to 0.3.1
  CHANGELOG.md
  deploy/chart/Chart.yaml
  deploy/chart/README.md
  deploy/manifests/deployment.yaml
  deploy/manifests/uiDeployment.yaml
  deploy/manifests/workerDeployment.yaml
  docs/guides/helm-chart.md
  pyproject.toml
Due: none

ci(release): add GPG signing, cosign keyless signing, and build provenance attestation for Helm chart
  .github/workflows/release.yml
  deploy/chart/pubkey.asc
Due: none

chore(gitignore): ignore deploy/local/ directory
  .gitignore
Due: none

Release 0.3.2: Helm chart signing, cosign attestation, and CI hardening (#40)
  .github/workflows/release.yml
  .gitignore
  CHANGELOG.md
  deploy/chart/Chart.yaml
  deploy/chart/README.md
  deploy/chart/pubkey.asc
  deploy/manifests/deployment.yaml
  deploy/manifests/uiDeployment.yaml
  deploy/manifests/workerDeployment.yaml
  docs/guides/helm-chart.md
  pyproject.toml
Due: none

ci(release): fix GPG key export by using loopback pinentry mode
  .github/workflows/release.yml
Due: none

ci(release): fix GPG key export by using loopback pinentry mode (#41)
  .github/workflows/release.yml
Due: none

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  flake8: any of: \.py$
  pytest-fast: any of: \.py$
  npm_lint: any of: ^ui/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  npm_pretty: any of: ^ui/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
