Repository tarkyaio/tarka: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, flake8, pytest-fast, npm_lint, npm_pretty

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        exclude: (^helm/|/hello-chart/|mkdocs.yml|^k8s/)
      - id: check-added-large-files
      - id: check-merge-conflict

  - repo: local
    hooks:
      - id: black
        name: Black (Python formatter)
        entry: poetry run black
        language: system
        types: [python]
        require_serial: false

      - id: isort
        name: isort (Python import sorter)
        entry: poetry run isort
        language: system
        types: [python]

      - id: flake8
        name: Flake8 (Python linter)
        entry: poetry run flake8
        language: system
        types: [python]
        require_serial: false

      # Commented out mypy for now - needs proper configuration
      # - id: mypy
      #   name: MyPy (Python type checker)
      #   entry: poetry run mypy
      #   pass_filenames: false
      #   args: ['agent', 'tests']
      #   language: system
      #   types: [python]
      #   require_serial: true

      - id: pytest-fast
        name: Pytest (fast unit tests)
        entry: poetry run pytest -m "not integration and not e2e" -x
        language: system
        types: [python]
        pass_filenames: false
        require_serial: true

      - id: npm_lint
        name: npm lint (UI)
        entry: sh -c 'cd ui && npm run lint'
        language: system
        files: ^ui/
        types_or: [javascript, jsx, ts, tsx]
        pass_filenames: false
        require_serial: false

      - id: npm_pretty
        name: npm prettier (UI)
        entry: sh -c 'cd ui && npm run prettier:check --list-different'
        language: system
        files: ^ui/
        types_or: [javascript, jsx, ts, tsx]
        pass_filenames: false
        require_serial: false

chore(ci): add GHCR release workflow and .dockerignore
  .dockerignore
  .github/workflows/actions/poetry/action.yaml
  .github/workflows/release.yml
Due: none

feat(infra): NATS retry, DB query optimization, LLM observability, deploy improvements
  agent/api/webhook.py
  agent/api/worker_jetstream.py
  agent/chat/global_tools.py
  agent/chat/intents.py
  agent/graphs/prompt_compaction.py
  agent/graphs/rca.py
  agent/llm/client.py
  agent/queue/nats_jetstream.py
  agent/queue/nats_retry.py
  deploy.sh
  tests/test_nats_retry.py
Due: black, isort, flake8, pytest-fast

fix(runtime): prevent event loop blocking in streaming chat runtimes
  agent/chat/global_runtime.py
  agent/chat/global_runtime_streaming.py
  agent/chat/runtime.py
  agent/chat/runtime_streaming.py
  tests/test_event_loop_blocking.py
Due: black, isort, flake8, pytest-fast

feat(github): add git mirror cache, regression analysis, and service layer
  .env.deploy.template
  .env.example
  Dockerfile
  agent/analysis/__init__.py
  agent/analysis/git_regression.py
  agent/chat/tools.py
  agent/collectors/github_context.py
  agent/core/models.py
  agent/graphs/rca.py
  agent/pipeline/pipeline.py
  agent/providers/git_mirror_provider.py
  agent/providers/github_provider.py
  agent/services/__init__.py
  agent/services/github_data_service.py
  docs/chat_tools.md
  docs/guides/authentication.md
  docs/guides/environment-variables.md
  docs/guides/github-app-setup.md
  k8s/configmap.yaml
  tests/test_git_mirror_provider.py
  tests/test_git_regression.py
  tests/test_github_chat_tools.py
  tests/test_github_collector.py
  tests/test_github_data_service.py
  tests/test_github_provider.py
Due: black, isort, flake8, pytest-fast

fix(runtime): prevent event loop blocking in streaming chat runtimes (#5)
  agent/chat/global_runtime.py
  agent/chat/global_runtime_streaming.py
  agent/chat/runtime.py
  agent/chat/runtime_streaming.py
  tests/test_event_loop_blocking.py
Due: black, isort, flake8, pytest-fast

feat(infra): NATS retry, DB query optimization, LLM observability, deploy improvements (#6)
  agent/api/webhook.py
  agent/api/worker_jetstream.py
  agent/chat/global_tools.py
  agent/chat/intents.py
  agent/graphs/prompt_compaction.py
  agent/graphs/rca.py
  agent/llm/client.py
  agent/queue/nats_jetstream.py
  agent/queue/nats_retry.py
  deploy.sh
  tests/test_nats_retry.py
Due: black, isort, flake8, pytest-fast

feat(github): add git mirror cache, regression analysis, and service layer (#7)
  .env.deploy.template
  .env.example
  Dockerfile
  agent/analysis/__init__.py
  agent/analysis/git_regression.py
  agent/chat/tools.py
  agent/collectors/github_context.py
  agent/core/models.py
  agent/graphs/rca.py
  agent/pipeline/pipeline.py
  agent/providers/git_mirror_provider.py
  agent/providers/github_provider.py
  agent/services/__init__.py
  agent/services/github_data_service.py
  docs/chat_tools.md
  docs/guides/authentication.md
  docs/guides/environment-variables.md
  docs/guides/github-app-setup.md
  k8s/configmap.yaml
  tests/test_git_mirror_provider.py
  tests/test_git_regression.py
  tests/test_github_chat_tools.py
  tests/test_github_collector.py
  tests/test_github_data_service.py
  tests/test_github_provider.py
Due: black, isort, flake8, pytest-fast

fix(chat): add component grouping to cases.top tool
  agent/chat/global_runtime.py
  agent/chat/global_runtime_streaming.py
  agent/chat/global_tools.py
  agent/chat/intents.py
Due: black, isort, flake8, pytest-fast

fix(chat): add component grouping to cases.top tool (#8)
  agent/chat/global_runtime.py
  agent/chat/global_runtime_streaming.py
  agent/chat/global_tools.py
  agent/chat/intents.py
Due: black, isort, flake8, pytest-fast

feat(deploy): remove External Secrets Operator dependency
  DEPLOYMENT.md
  deploy.sh
  docs/guides/authentication.md
  docs/guides/deployment.md
  k8s/deployment.yaml
  k8s/externalsecret.yaml
  k8s/postgres-dev.yaml
  k8s/secret.yaml
  k8s/secretstore.yaml
  scripts/sync-secrets.sh
Due: none

fix(ui): improve report readability and rename tab title to Tarka
  ui/index.html
  ui/src/screens/CaseScreen.module.css
  ui/src/screens/CaseScreen.tsx
  ui/src/styles/global.css
Due: npm_lint, npm_pretty

feat(deploy): remove External Secrets Operator dependency (#9)
  DEPLOYMENT.md
  deploy.sh
  docs/guides/authentication.md
  docs/guides/deployment.md
  k8s/deployment.yaml
  k8s/externalsecret.yaml
  k8s/postgres-dev.yaml
  k8s/secret.yaml
  k8s/secretstore.yaml
  scripts/sync-secrets.sh
Due: none

fix(ui): improve report readability and rename tab title to Tarka (#10)
  ui/index.html
  ui/src/screens/CaseScreen.module.css
  ui/src/screens/CaseScreen.tsx
  ui/src/styles/global.css
Due: npm_lint, npm_pretty

feat(llm): add token usage tracking and cost estimation to pipeline reports
  agent/chat/global_runtime.py
  agent/chat/global_runtime_streaming.py
  agent/chat/runtime.py
  agent/chat/runtime_streaming.py
  agent/core/models.py
  agent/graphs/rca.py
  agent/llm/client.py
  agent/llm/enrich_investigation.py
  agent/llm/pricing.py
  agent/report_deterministic.py
  tests/test_chat_autonomy.py
  tests/test_chat_intents.py
  tests/test_event_loop_blocking.py
  tests/test_global_chat_runtime.py
  tests/test_llm_additive.py
  tests/test_llm_client_anthropic.py
  tests/test_llm_client_factory.py
  tests/test_llm_client_timeout.py
  tests/test_llm_client_vertex.py
  tests/test_llm_pricing.py
  tests/test_tool_dedupe_and_summaries.py
Due: black, isort, flake8, pytest-fast

feat(llm): add token usage tracking and cost estimation to pipeline reports (#11)
  agent/chat/global_runtime.py
  agent/chat/global_runtime_streaming.py
  agent/chat/runtime.py
  agent/chat/runtime_streaming.py
  agent/core/models.py
  agent/graphs/rca.py
  agent/llm/client.py
  agent/llm/enrich_investigation.py
  agent/llm/pricing.py
  agent/report_deterministic.py
  tests/test_chat_autonomy.py
  tests/test_chat_intents.py
  tests/test_event_loop_blocking.py
  tests/test_global_chat_runtime.py
  tests/test_llm_additive.py
  tests/test_llm_client_anthropic.py
  tests/test_llm_client_factory.py
  tests/test_llm_client_timeout.py
  tests/test_llm_client_vertex.py
  tests/test_llm_pricing.py
  tests/test_tool_dedupe_and_summaries.py
Due: black, isort, flake8, pytest-fast

feat(llm): add token usage tracking and cost estimation to pipeline reports (#11)
  agent/api/webhook.py
  agent/chat/global_runtime.py
  agent/chat/global_runtime_streaming.py
  agent/chat/intents.py
  agent/chat/runtime.py
  agent/chat/runtime_streaming.py
  agent/graphs/rca.py
  agent/llm/client.py
  agent/llm/client_streaming.py
  agent/llm/enrich_investigation.py
  agent/llm/pricing.py
  agent/memory/migrations/005_llm_pricing.sql
  docs/guides/environment-variables.md
  k8s/configmap.yaml
  k8s/deployment.yaml
  k8s/worker-deployment.yaml
  tests/test_event_loop_blocking.py
  tests/test_llm_additive.py
  tests/test_llm_model_routing.py
  tests/test_llm_pricing.py
  tests/test_tool_dedupe_and_summaries.py
Due: black, isort, flake8, pytest-fast

feat(llm): add token usage tracking and cost estimation to pipeline reports (#11) (#12)
  agent/api/webhook.py
  agent/chat/global_runtime.py
  agent/chat/global_runtime_streaming.py
  agent/chat/intents.py
  agent/chat/runtime.py
  agent/chat/runtime_streaming.py
  agent/graphs/rca.py
  agent/llm/client.py
  agent/llm/client_streaming.py
  agent/llm/enrich_investigation.py
  agent/llm/pricing.py
  agent/memory/migrations/005_llm_pricing.sql
  docs/guides/environment-variables.md
  k8s/configmap.yaml
  k8s/deployment.yaml
  k8s/worker-deployment.yaml
  tests/test_event_loop_blocking.py
  tests/test_llm_additive.py
  tests/test_llm_model_routing.py
  tests/test_llm_pricing.py
  tests/test_tool_dedupe_and_summaries.py
Due: black, isort, flake8, pytest-fast

feat(ui): add token/cost badge to case screen
  ui/src/mocks/data.ts
  ui/src/screens/CaseScreen.module.css
  ui/src/screens/CaseScreen.tsx
Due: npm_lint, npm_pretty

feat(ui): add token/cost badge to case screen (#13)
  ui/src/mocks/data.ts
  ui/src/screens/CaseScreen.module.css
  ui/src/screens/CaseScreen.tsx
Due: npm_lint, npm_pretty

feat(k8s): add K8S_VERIFY_SSL flag to work around EKS CA cert issue
  CLAUDE.md
  agent/providers/k8s_provider.py
  deploy.sh
  k8s/configmap.yaml
Due: black, isort, flake8, pytest-fast

style: apply black and isort formatting to k8s_provider
  agent/providers/k8s_provider.py
Due: black, isort, flake8, pytest-fast

feat(k8s): add K8S_VERIFY_SSL flag to work around EKS CA cert issue (#15)
  CLAUDE.md
  agent/providers/k8s_provider.py
  deploy.sh
  k8s/configmap.yaml
Due: black, isort, flake8, pytest-fast

feat(infra): collect service-scoped diffs from org-wide infra repos
  agent/collectors/infra_context.py
Due: black, isort, flake8, pytest-fast

feat(infra): collect service-scoped diffs from org-wide infra repos (#16)
  .gitignore
  agent/api/webhook.py
  agent/collectors/infra_context.py
  agent/core/models.py
  agent/llm/evidence.py
  agent/pipeline/changes.py
  agent/pipeline/pipeline.py
  agent/providers/git_mirror_provider.py
  agent/report_deterministic.py
  deploy.sh
  ui/src/screens/CaseScreen.tsx
Due: black, isort, flake8, pytest-fast, npm_lint, npm_pretty

fix(infra): improve service name resolution for infra context lookups
  agent/collectors/infra_context.py
Due: black, isort, flake8, pytest-fast

fix(infra): improve service name resolution for infra context lookups (#17)
  agent/collectors/infra_context.py
Due: black, isort, flake8, pytest-fast

feat(slack): add Slack integration with AI assistant working state
  .env.deploy.template
  Dockerfile
  README.md
  agent/api/webhook.py
  agent/chat/global_runtime_streaming.py
  agent/chat/intents.py
  agent/chat/runtime_streaming.py
  agent/chat/thread_runner.py
  agent/memory/migrations/006_slack_thread_map.sql
  agent/slack/__init__.py
  agent/slack/bolt_app.py
  agent/slack/formatter.py
  agent/slack/notifier.py
  agent/slack/provider.py
  agent/slack/thread_bridge.py
  deploy.sh
  docs/guides/environment-variables.md
  docs/guides/slack-app-setup.md
  k8s/configmap.yaml
  k8s/deployment.yaml
  k8s/secret.yaml
  poetry.lock
  pyproject.toml
  tests/test_chat_intents.py
  tests/test_slack_bolt_app.py
  tests/test_slack_formatter.py
  tests/test_slack_notifier.py
  tests/test_slack_policy.py
  tests/test_slack_provider.py
  tests/test_slack_thread_bridge.py
Due: black, isort, flake8, pytest-fast

feat(slack): add Slack integration with AI assistant working state (#14)
  .env.deploy.template
  Dockerfile
  README.md
  agent/api/webhook.py
  agent/chat/global_runtime_streaming.py
  agent/chat/intents.py
  agent/chat/runtime_streaming.py
  agent/chat/thread_runner.py
  agent/memory/migrations/006_slack_thread_map.sql
  agent/slack/__init__.py
  agent/slack/bolt_app.py
  agent/slack/formatter.py
  agent/slack/notifier.py
  agent/slack/provider.py
  agent/slack/thread_bridge.py
  deploy.sh
  docs/guides/environment-variables.md
  docs/guides/slack-app-setup.md
  k8s/configmap.yaml
  k8s/deployment.yaml
  k8s/secret.yaml
  poetry.lock
  pyproject.toml
  tests/test_chat_intents.py
  tests/test_slack_bolt_app.py
  tests/test_slack_formatter.py
  tests/test_slack_notifier.py
  tests/test_slack_policy.py
  tests/test_slack_provider.py
  tests/test_slack_thread_bridge.py
Due: black, isort, flake8, pytest-fast

chore(release): update CHANGELOG for v0.2.0
  CHANGELOG.md
Due: none

chore(release): update CHANGELOG for v0.2.0 (#18)
  CHANGELOG.md
Due: none

chore: bump version to 0.2.0
  pyproject.toml
Due: none

chore: bump version to 0.2.0 (#19)
  pyproject.toml
Due: none

chore(security): fix all open Dependabot alerts
  dev/requirements.txt
  poetry.lock
  pyproject.toml
  ui/package-lock.json
  ui/package.json
Due: none

chore(security): fix all open Dependabot alerts (#20)
  dev/requirements.txt
  poetry.lock
  pyproject.toml
  ui/package-lock.json
  ui/package.json
Due: none

feat(site): add GitHub Pages landing site
  .github/workflows/pages.yml
  docs/index.html
  docs/site.css
Due: none

feat(site): add GitHub Pages landing site (#22)
  .github/workflows/pages.yml
  docs/index.html
  docs/site.css
Due: none

feat(ui): add help popover with support resources menu
  ui/src/screens/Shell.module.css
  ui/src/screens/Shell.tsx
  ui/src/ui/IconButton.tsx
Due: npm_lint, npm_pretty
